body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(bk.png);
}

h2{
    font-size: x-large;
    color: brown;
}

h3{
    font-size: large;
    color: brown;
}
ul{
    font-style: italic;
}
.nav{
    text-align: center; 
    text-transform: uppercase; 
    border-bottom-style: solid;
    border-bottom-style: 5px;
    padding: 10px;
}
.footer{
    text-align: left;
    font-size: small;
    border-top-style: dashed;
    padding-top: 10px;
}
.background{
    width: 100%;
    background-color:aliceblue;
    border: 10px;
    align-content: center; 
}