body{
    background-image: url("https://img.freepik.com/free-vector/simple-gray-triangular-background_53876-95732.jpg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(95, 158, 160);
    font-weight: 700;
    font-style: oblique;


}